<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Umar's Page</title>
    </head>
    <body>
        <h1>Umar</h1>
        <button onclick="redirect('')">Redirect</button>
        <img src = 'img/Umar.PNG' alt="'Umar's Body'" title = 'Sexy as hell'>
        <script>
            function redirect() {
                window.location.href = "https://www.example.com";
            }
        </script>
    </body>
</html>
