<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Page</title>
    </head>
    <body>
        <h1>New Page</h1>
        <img src = 'img/khalafs Beauty.jpg' alt = 'Beauty at its finest' title = 'Big Scary Hole' width = 200 height = 200>
        <button onclick="redirect()">Redirect</button>

        <script>
            function redirect() {
                window.location.href = "https://www.example.com";
            }
        </script>
    </body>
</html>