<div class="product-desc”> eed <div class=" product-desc-image”>
  <img src="img/iphone.jpeg" width="180" height="220" />
</div>
<div class="product-details-info">
  <h1>{{%NAME%}}</h1>
  <h2 style="color: green">{{%PRICE%}}<b>$</b></h2>
  <div class="product-desc-details">
    <h3>Product Details</h3>
    <p class="product-desc-p">{{%SIZE%}}</p>
    <p class="product-desc-p">{{%CAMERA%}}</p>
    <p class="product-desc-p"><b>Model Number </b>{{%MODELNO%}}</p>
    <p class="product-desc-p"><b>Model Name </b>{{%MODELNAME%}}</p>
    <p class="product-desc-p"><b>ROM </b>{{%ROM%}}</p>
  </div>
  <div class="product-details-desc">
    <h3>Product Description</h3>
    <p class="product-desc-p">
      Widescreen HD LCD Retina Multi-touch IPS Display (140@:1 Contrast Ratio
      (Typical), True Tone Display, Wide Color Display (P3), Haptic Touch, 625
      nits Max Brightness (Typical), Fingerprint-resistant Oleophobic Coating,
      Display Zoom, Reachability)
    </p>
  </div>
  <div>
    <a href="/products" class="btn-back">Back</a>
  </div>
</div>
